flows.json
[{"id":"e6d349d60ead1d22","type":"tab","label":"Pixelit Example","disabled":false,"info":""},{"id":"06753b32c9b9933e","type":"group","z":"e6d349d60ead1d22","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["788fc8c2e542fcca","e1da6640742ad226","eed15d903675e0f6","328a52e7e1e7e276","32f7846f9c92ec87"],"x":354,"y":679,"w":372,"h":262},{"id":"d4e971f2ef38e599","type":"group","z":"e6d349d60ead1d22","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["fb308667efd5910d","c06ac188f7816301","e0d65591866a6d29","cf4c61f308ef1283","d6c179a11be8096a"],"x":1214,"y":1279,"w":592,"h":142},{"id":"d6afcad680afe429","type":"group","z":"e6d349d60ead1d22","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["3afa56d3ddb11de6","79186440a6889e6b","7c1d2af59bde55e5","0fc113da5334ce84","be4b3ae33ea21847","0606223bf5cc12ef","2c412c700db83947","31549f6ee1d5883b","03eeb02f9592030c","bcb817abd91f1b05","7dfb0041b0100669","8c348d09359579ce","0602bcf72c920204","9930ec2c33658f62","edadc5348aa1336b","d8a6caae71b5b794","eac0ecb0d4813137","a5a40a21dad195c9","e2e99df0c24d1578"],"x":234,"y":1059,"w":1622,"h":162},{"id":"f03de70e7c291680","type":"group","z":"e6d349d60ead1d22","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["bb93f97643a39d29","91056f2f4c4f2b23","7711c7c8f21bd1e2","2dad63065b9a8f96","9a5cf3025cd3d05b","283eedc499454922","c21cb604b1cc465c","1fcd7a6d40010611","138629c8fdad90c0","a5fd6eea7bd59c3d","212a55b25f6c4191","d175810475cf65c6","3799e60f22792b76","e3b1d75c1960935c","248713f5d87e10dc","9b11e31aaac27e1b","5b492386e1de935b","99876279b487dc25","30ab015996d44f01","695f27399bb08128","0e82385daada4847","eec1083ba7ce3054","9d79f9e59d62ff2a","81967aa98694adea","0e83fac4991c4430","90c28c957d15c7d5","ccfa316968992ff5","bd94cfc20cc1a3f6","ca56f6961f6b14bc","590e7ebd99db55a7","dec45425c5afbbee","c8d20ec5b28309c0","06e3361826ee5e23","ba6b2dd0d716f84a","93941be53cf77348","d164c30420ec0fe8"],"x":814,"y":579,"w":1042,"h":382},{"id":"3afa56d3ddb11de6","type":"inject","z":"e6d349d60ead1d22","g":"d6afcad680afe429","name":"Every 10Min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":360,"y":1140,"wires":[["03eeb02f9592030c"]]},{"id":"79186440a6889e6b","type":"Text","z":"e6d349d60ead1d22","g":"d6afcad680afe429","name":"Text","intextString":"{{payload}}","inbigFont":"false","inscrollText":"false","inscrollTextDelay":"0","incenterText":"true","inposX":"7","inposY":"1","incolorR":"255","incolorG":"255","incolorB":"255","x":1650,"y":1100,"wires":[["be4b3ae33ea21847"]]},{"id":"7c1d2af59bde55e5","type":"Switch Animation","z":"e6d349d60ead1d22","g":"d6afcad680afe429","name":"Switch Animation","aktiv":"true","animation":"fade","x":1490,"y":1100,"wires":[["79186440a6889e6b"]]},{"id":"0fc113da5334ce84","type":"Screen Init","z":"e6d349d60ead1d22","g":"d6afcad680afe429","name":"Screen Init","inscreenName":"youtube","induration":"10","x":1310,"y":1100,"wires":[["7c1d2af59bde55e5"]]},{"id":"be4b3ae33ea21847","type":"Bitmap","z":"e6d349d60ead1d22","g":"d6afcad680afe429","name":"Bitmap","indata":"45","inposX":"0","inposY":"0","inwidth":"8","inheight":"8","x":1770,"y":1100,"wires":[["0190596451581163"]]},{"id":"0606223bf5cc12ef","type":"function","z":"e6d349d60ead1d22","g":"d6afcad680afe429","name":"","func":"var stats = msg.payload.items[0].statistics;\nvar out = [];\nout.push({\"measurement\":\"yt_subscribers\",\"payload\":stats.subscriberCount});\n\nmsg.payload = out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1100,"wires":[["2c412c700db83947"]]},{"id":"2c412c700db83947","type":"split","z":"e6d349d60ead1d22","g":"d6afcad680afe429","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1030,"y":1100,"wires":[["31549f6ee1d5883b"]]},{"id":"31549f6ee1d5883b","type":"function","z":"e6d349d60ead1d22","g":"d6afcad680afe429","name":"process","func":"\nmsg_ = msg.payload;\n\nreturn msg_;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":1100,"wires":[["0fc113da5334ce84"]]},{"id":"788fc8c2e542fcca","type":"function","z":"e6d349d60ead1d22","g":"06753b32c9b9933e","name":"parse","func":"var stats = msg.payload.items[0].statistics;\nvar out = [];\nout.push({\"Subscriber\":stats.subscriberCount});\nout.push({\"viewCount\":stats.viewCount});\nout.push({\"videoCount\":stats.videoCount});\n\nmsg.payload = out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":840,"wires":[["e1da6640742ad226","eed15d903675e0f6","328a52e7e1e7e276"]]},{"id":"e1da6640742ad226","type":"ha-entity","z":"e6d349d60ead1d22","g":"06753b32c9b9933e","name":"YoutubeSubs","server":"1832c437b2d7e2c1","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Youtube_Subs"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload[0].Subscriber","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":610,"y":780,"wires":[[]]},{"id":"03eeb02f9592030c","type":"http request","z":"e6d349d60ead1d22","g":"d6afcad680afe429","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://youtube.googleapis.com/youtube/v3/channels?part=statistics&id=XXXXXXXXXXXXXXX&key=XXXXXXXXXXXXXXXXX","tls":"","persist":false,"proxy":"","authType":"","credentials":{},"x":530,"y":1140,"wires":[["788fc8c2e542fcca","0606223bf5cc12ef","edadc5348aa1336b"]]},{"id":"eed15d903675e0f6","type":"ha-entity","z":"e6d349d60ead1d22","g":"06753b32c9b9933e","name":"YoutubeView","server":"1832c437b2d7e2c1","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Youtube_ViewCount"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload[1].viewCount","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":610,"y":840,"wires":[[]]},{"id":"328a52e7e1e7e276","type":"ha-entity","z":"e6d349d60ead1d22","g":"06753b32c9b9933e","name":"YoutubeVideo","server":"1832c437b2d7e2c1","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Youtube_VideoCount"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload[2].videoCount","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":620,"y":900,"wires":[[]]},{"id":"ba20696214f01382","type":"Core","z":"e6d349d60ead1d22","name":"Core","ip":"192.168.2.149","masterTopic":"Matrix/PixelIt/","x":2230,"y":1080,"wires":[[]]},{"id":"5cec2660c744c907","type":"Alert Screen","z":"e6d349d60ead1d22","name":"Alert Screen","x":1970,"y":800,"wires":[["ba20696214f01382"]]},{"id":"0190596451581163","type":"Screen Data Update","z":"e6d349d60ead1d22","name":"Screen Data Update","x":2000,"y":1080,"wires":[["ba20696214f01382"]]},{"id":"d19b33bdbe0da5d0","type":"Matrix Control","z":"e6d349d60ead1d22","name":"Matrix Control","x":1980,"y":1340,"wires":[["ba20696214f01382"]]},{"id":"e1c7607aba00f937","type":"Playlist Update","z":"e6d349d60ead1d22","name":"Playlist Update","x":1980,"y":1500,"wires":[["ba20696214f01382"]]},{"id":"bb93f97643a39d29","type":"comment","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"New Mail in MAILBOX","info":"","x":940,"y":920,"wires":[]},{"id":"91056f2f4c4f2b23","type":"Switch Animation","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Switch Animation","aktiv":"true","animation":"fade","x":1490,"y":920,"wires":[["7711c7c8f21bd1e2"]]},{"id":"7711c7c8f21bd1e2","type":"Text","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Text","intextString":"MAIL","inbigFont":"false","inscrollText":"true","inscrollTextDelay":"0","incenterText":"false","inposX":"8","inposY":"1","incolorR":"255","incolorG":"255","incolorB":"255","x":1650,"y":920,"wires":[["9a5cf3025cd3d05b"]]},{"id":"2dad63065b9a8f96","type":"Screen Init","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Screen Init","inscreenName":"Postman","induration":"100","x":1310,"y":920,"wires":[["91056f2f4c4f2b23"]]},{"id":"10d3070182752ed2","type":"comment","z":"e6d349d60ead1d22","name":"Internal Pixel It Clock [internal_clock]","info":"","x":980,"y":1020,"wires":[]},{"id":"fa735cecacc66aa0","type":"inject","z":"e6d349d60ead1d22","name":"Init","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":1270,"y":1020,"wires":[["2df0664ee9dad501"]]},{"id":"2df0664ee9dad501","type":"Screen Init","z":"e6d349d60ead1d22","name":"Screen Init","inscreenName":"internal_clock","induration":"10","x":1430,"y":1020,"wires":[["991a0c74c0930469"]]},{"id":"991a0c74c0930469","type":"Switch Animation","z":"e6d349d60ead1d22","name":"Switch Animation","aktiv":"true","animation":"fade","x":1610,"y":1020,"wires":[["48dcf63ffc31ae3c"]]},{"id":"48dcf63ffc31ae3c","type":"Clock","z":"e6d349d60ead1d22","name":"Clock","inswitchAktiv":"true","inswitchSec":"6","inwithSeconds":"false","incolorR":"255","incolorG":"255","incolorB":"255","x":1770,"y":1020,"wires":[["0190596451581163"]]},{"id":"2376211a270aa3d7","type":"change","z":"e6d349d60ead1d22","name":"Display Playlist","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\"screenName\":\"youtube\"},{\"screenName\":\"internal_clock\"}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":1500,"wires":[["e1c7607aba00f937"]]},{"id":"79f76e43dd2674a2","type":"inject","z":"e6d349d60ead1d22","name":"Instant","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":1510,"y":1500,"wires":[["2376211a270aa3d7"]]},{"id":"56ec3c556342c606","type":"comment","z":"e6d349d60ead1d22","name":"Display Playlist","info":"","x":1320,"y":1500,"wires":[]},{"id":"bcb817abd91f1b05","type":"comment","z":"e6d349d60ead1d22","g":"d6afcad680afe429","name":"YouTube  API","info":"","x":530,"y":1180,"wires":[]},{"id":"9a5cf3025cd3d05b","type":"Bitmap","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Bitmap","indata":"[31,10586,0,0,0,0,0,0,31,10586,31,0,0,0,0,0,65205,65205,0,0,0,0,0,0,65205,65205,0,58624,58624,58624,58624,0,65205,0,0,58624,54464,54464,60704,0,64512,64512,64512,64512,65205,54464,58624,0,64512,64512,0,58624,58624,58624,58624,0,64512,64512,0,0,0,0,0,0]","inposX":"0","inposY":"0","inwidth":"8","inheight":"8","x":1770,"y":920,"wires":[["5cec2660c744c907"]]},{"id":"7dfb0041b0100669","type":"Text","z":"e6d349d60ead1d22","g":"d6afcad680afe429","name":"Text","intextString":"{{payload}}","inbigFont":"false","inscrollText":"false","inscrollTextDelay":"0","incenterText":"true","inposX":"7","inposY":"1","incolorR":"255","incolorG":"255","incolorB":"255","x":1650,"y":1180,"wires":[["9930ec2c33658f62"]]},{"id":"8c348d09359579ce","type":"Switch Animation","z":"e6d349d60ead1d22","g":"d6afcad680afe429","name":"Switch Animation","aktiv":"true","animation":"fade","x":1490,"y":1180,"wires":[["7dfb0041b0100669"]]},{"id":"0602bcf72c920204","type":"Screen Init","z":"e6d349d60ead1d22","g":"d6afcad680afe429","name":"Screen Init","inscreenName":"youtube-view","induration":"10","x":1310,"y":1180,"wires":[["8c348d09359579ce"]]},{"id":"9930ec2c33658f62","type":"Bitmap","z":"e6d349d60ead1d22","g":"d6afcad680afe429","name":"Bitmap","indata":"45","inposX":"0","inposY":"0","inwidth":"8","inheight":"8","x":1770,"y":1180,"wires":[["0190596451581163"]]},{"id":"edadc5348aa1336b","type":"function","z":"e6d349d60ead1d22","g":"d6afcad680afe429","name":"","func":"var stats = msg.payload.items[0].statistics;\nvar out = [];\nout.push({\"measurement\":\"yt_subscribers\",\"payload\":stats.viewCount});\n\nmsg.payload = out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1180,"wires":[["d8a6caae71b5b794"]]},{"id":"d8a6caae71b5b794","type":"split","z":"e6d349d60ead1d22","g":"d6afcad680afe429","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1030,"y":1180,"wires":[["eac0ecb0d4813137"]]},{"id":"eac0ecb0d4813137","type":"function","z":"e6d349d60ead1d22","g":"d6afcad680afe429","name":"process","func":"\nmsg_ = msg.payload;\n\nreturn msg_;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":1180,"wires":[["0602bcf72c920204"]]},{"id":"a5a40a21dad195c9","type":"comment","z":"e6d349d60ead1d22","g":"d6afcad680afe429","name":"Youtubr Subs","info":"","x":730,"y":1100,"wires":[]},{"id":"e2e99df0c24d1578","type":"comment","z":"e6d349d60ead1d22","g":"d6afcad680afe429","name":"Youtube Views","info":"","x":740,"y":1180,"wires":[]},{"id":"fb308667efd5910d","type":"function","z":"e6d349d60ead1d22","g":"d4e971f2ef38e599","name":"Display ON","func":"msg.sleepMode = false;\nnode.status({ fill: \"yellow\", shape: \"ring\", text: \"SleepMode is \" + msg.sleepMode});\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1710,"y":1320,"wires":[["d19b33bdbe0da5d0"]]},{"id":"c06ac188f7816301","type":"comment","z":"e6d349d60ead1d22","g":"d4e971f2ef38e599","name":"SleepMode","info":"","x":1310,"y":1360,"wires":[]},{"id":"283eedc499454922","type":"trigger-state","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Mailbox","server":"1832c437b2d7e2c1","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.gatewaylora","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"0xA2B2","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":1160,"y":920,"wires":[["2dad63065b9a8f96"],[]]},{"id":"cbf30ca9c42c4cb7","type":"trigger-state","z":"e6d349d60ead1d22","name":"Mailbox","server":"1832c437b2d7e2c1","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.gatewaylora","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"received","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":1500,"y":1560,"wires":[["2376211a270aa3d7"],[]]},{"id":"e0d65591866a6d29","type":"function","z":"e6d349d60ead1d22","g":"d4e971f2ef38e599","name":"Display OFF","func":"msg.sleepMode = true;\nnode.status({ fill: \"yellow\", shape: \"ring\", text: \"SleepMode is \" + msg.sleepMode});\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1710,"y":1380,"wires":[["d19b33bdbe0da5d0"]]},{"id":"cf4c61f308ef1283","type":"inject","z":"e6d349d60ead1d22","g":"d4e971f2ef38e599","name":"ON Time","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/1 14-23 * * *","once":false,"onceDelay":"1","topic":"","payloadType":"date","x":1500,"y":1320,"wires":[["fb308667efd5910d"]]},{"id":"d6c179a11be8096a","type":"inject","z":"e6d349d60ead1d22","g":"d4e971f2ef38e599","name":"OFF Time","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/1 0-5 * * *","once":false,"onceDelay":"1","topic":"","payloadType":"date","x":1510,"y":1380,"wires":[["e0d65591866a6d29"]]},{"id":"c21cb604b1cc465c","type":"server-events","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Gateway Is Down","server":"1832c437b2d7e2c1","version":1,"event_type":"gateway_down","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":1140,"y":860,"wires":[["a5fd6eea7bd59c3d"]]},{"id":"1fcd7a6d40010611","type":"Switch Animation","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Switch Animation","aktiv":"true","animation":"fade","x":1490,"y":860,"wires":[["138629c8fdad90c0"]]},{"id":"138629c8fdad90c0","type":"Text","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Text","intextString":"GATEWAY IS DOWN","inbigFont":"false","inscrollText":"true","inscrollTextDelay":"0","incenterText":"false","inposX":"8","inposY":"1","incolorR":"255","incolorG":"255","incolorB":"255","x":1650,"y":860,"wires":[["212a55b25f6c4191"]]},{"id":"a5fd6eea7bd59c3d","type":"Screen Init","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Screen Init","inscreenName":"gateway","induration":"20","x":1310,"y":860,"wires":[["1fcd7a6d40010611"]]},{"id":"212a55b25f6c4191","type":"Bitmap","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Bitmap","indata":"[0,0,0,0,0,0,0,0,0,0,17595,17595,17595,0,0,0,0,0,17595,17595,17595,0,0,0,0,0,0,17595,0,0,0,0,0,17595,17595,17595,17595,17595,0,0,0,17595,0,0,0,17595,0,0,17595,17595,17595,0,17595,17595,17595,0,17595,17595,17595,0,17595,17595,17595,0]","inposX":"0","inposY":"0","inwidth":"8","inheight":"8","x":1770,"y":860,"wires":[["5cec2660c744c907"]]},{"id":"32f7846f9c92ec87","type":"comment","z":"e6d349d60ead1d22","g":"06753b32c9b9933e","name":"YouTube Stats to HA Entity","info":"","x":590,"y":720,"wires":[]},{"id":"d175810475cf65c6","type":"comment","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Gateway Down Event","info":"","x":940,"y":860,"wires":[]},{"id":"d73b80c5b20af2a7","type":"comment","z":"e6d349d60ead1d22","name":"Mailbox Dismiss ","info":"","x":1320,"y":1560,"wires":[]},{"id":"3799e60f22792b76","type":"server-events","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Low Battery","server":"1832c437b2d7e2c1","version":1,"event_type":"low_battery","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":1150,"y":800,"wires":[["9b11e31aaac27e1b"]]},{"id":"e3b1d75c1960935c","type":"Switch Animation","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Switch Animation","aktiv":"true","animation":"fade","x":1490,"y":800,"wires":[["248713f5d87e10dc"]]},{"id":"248713f5d87e10dc","type":"Text","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Text","intextString":"LOW 15 %","inbigFont":"false","inscrollText":"true","inscrollTextDelay":"0","incenterText":"false","inposX":"8","inposY":"1","incolorR":"255","incolorG":"255","incolorB":"255","x":1650,"y":800,"wires":[["5b492386e1de935b"]]},{"id":"9b11e31aaac27e1b","type":"Screen Init","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Screen Init","inscreenName":"lowbattery","induration":"60","x":1310,"y":800,"wires":[["e3b1d75c1960935c"]]},{"id":"5b492386e1de935b","type":"Bitmap","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Bitmap","indata":"[0,0,0,21855,21855,0,0,0,0,0,21855,21855,21855,21855,0,0,0,0,21855,0,0,21855,0,0,0,0,21855,0,0,21855,0,0,0,0,21855,0,0,21855,0,0,0,0,21855,0,0,21855,0,0,0,0,21855,63488,63488,21855,0,0,0,0,21855,21855,21855,21855,0,0]","inposX":"0","inposY":"0","inwidth":"8","inheight":"8","x":1770,"y":800,"wires":[["5cec2660c744c907"]]},{"id":"99876279b487dc25","type":"comment","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Low Battery Event","info":"","x":930,"y":800,"wires":[]},{"id":"30ab015996d44f01","type":"Switch Animation","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Switch Animation","aktiv":"true","animation":"fade","x":1490,"y":740,"wires":[["9d79f9e59d62ff2a"]]},{"id":"695f27399bb08128","type":"Screen Init","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Screen Init","inscreenName":"washer","induration":"20","x":1310,"y":740,"wires":[["30ab015996d44f01"]]},{"id":"0e82385daada4847","type":"Bitmap","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Bitmap","indata":"[0,54970,54970,54970,54970,54970,54970,0,0,54970,54970,63488,54970,34784,54970,0,0,65535,65535,65535,65535,65535,65535,0,0,65535,54970,33808,33808,54970,65535,0,0,65535,33808,0,0,33808,65535,0,0,65535,33808,21855,21855,33808,65535,0,0,65535,54970,33808,33808,54970,65535,0,0,65535,65535,65535,65535,65535,65535,0]","inposX":"0","inposY":"0","inwidth":"8","inheight":"8","x":1770,"y":740,"wires":[["5cec2660c744c907"]]},{"id":"eec1083ba7ce3054","type":"comment","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Dishwasher","info":"","x":910,"y":740,"wires":[]},{"id":"9d79f9e59d62ff2a","type":"Text","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Text","intextString":"PRET","inbigFont":"false","inscrollText":"false","inscrollTextDelay":"0","incenterText":"true","inposX":"8","inposY":"1","incolorR":"255","incolorG":"255","incolorB":"255","x":1650,"y":740,"wires":[["0e82385daada4847"]]},{"id":"81967aa98694adea","type":"inject","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Init","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":1170,"y":680,"wires":[["90c28c957d15c7d5"]]},{"id":"0e83fac4991c4430","type":"Switch Animation","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Switch Animation","aktiv":"true","animation":"fade","x":1490,"y":680,"wires":[["ca56f6961f6b14bc"]]},{"id":"90c28c957d15c7d5","type":"Screen Init","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Screen Init","inscreenName":"washer","induration":"20","x":1310,"y":680,"wires":[["0e83fac4991c4430"]]},{"id":"ccfa316968992ff5","type":"Bitmap","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Bitmap","indata":"[0,54970,44373,65535,0,0,0,0,0,54970,44373,65535,0,0,0,0,0,54970,33808,65535,0,0,0,0,0,54970,33808,65535,0,0,0,0,54970,33808,33808,65535,65535,0,0,0,0,54970,33808,65535,0,0,0,0,0,0,54970,0,0,0,0,0,0,0,20490,43029,63519,63519,64191,64191]","inposX":"0","inposY":"0","inwidth":"8","inheight":"8","x":1770,"y":680,"wires":[["5cec2660c744c907"]]},{"id":"bd94cfc20cc1a3f6","type":"comment","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"3D Printer","info":"","x":900,"y":680,"wires":[]},{"id":"ca56f6961f6b14bc","type":"Text","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Text","intextString":"3D PRINTING IS DONE","inbigFont":"false","inscrollText":"true","inscrollTextDelay":"0","incenterText":"false","inposX":"8","inposY":"1","incolorR":"233","incolorG":"227","incolorB":"37","x":1650,"y":680,"wires":[["ccfa316968992ff5"]]},{"id":"590e7ebd99db55a7","type":"inject","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Init","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":1170,"y":620,"wires":[["c8d20ec5b28309c0"]]},{"id":"dec45425c5afbbee","type":"Switch Animation","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Switch Animation","aktiv":"true","animation":"fade","x":1490,"y":620,"wires":[["93941be53cf77348"]]},{"id":"c8d20ec5b28309c0","type":"Screen Init","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Screen Init","inscreenName":"washer","induration":"20","x":1310,"y":620,"wires":[["dec45425c5afbbee"]]},{"id":"06e3361826ee5e23","type":"Bitmap","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Bitmap","indata":"[0,0,0,7274,7274,0,0,0,0,0,7274,15242,21824,7274,0,0,0,0,21834,21824,7274,21834,15242,0,0,15242,21824,15239,21824,21834,0,0,0,0,21834,7274,7274,21834,15242,0,0,15242,21834,7274,15239,21834,0,0,0,0,7267,1344,1344,21834,15242,0,0,54277,54277,54277,54277,54277,54277,0]","inposX":"0","inposY":"0","inwidth":"8","inheight":"8","x":1770,"y":620,"wires":[["5cec2660c744c907"]]},{"id":"ba6b2dd0d716f84a","type":"comment","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Plants water time","info":"","x":920,"y":620,"wires":[]},{"id":"93941be53cf77348","type":"Text","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Text","intextString":"PLANTS WATERING TIME","inbigFont":"false","inscrollText":"true","inscrollTextDelay":"0","incenterText":"false","inposX":"8","inposY":"1","incolorR":"255","incolorG":"255","incolorB":"255","x":1650,"y":620,"wires":[["06e3361826ee5e23"]]},{"id":"d164c30420ec0fe8","type":"server-events","z":"e6d349d60ead1d22","g":"f03de70e7c291680","name":"Dishwasher","server":"1832c437b2d7e2c1","version":1,"event_type":"dishwasher_done","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":1150,"y":740,"wires":[["695f27399bb08128"]]},{"id":"1832c437b2d7e2c1","type":"server","name":"Home Assistant","version":1,"legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]